@using System.Data;
@model DataTable;
<table class="table table-light table-hover">

    <div class="col-12 text-end my-3">


        <button type="submit" class="btn btn-warning"> <a class="nav-link text-dark" asp-area="LOC_City" asp-controller="LOC_City" asp-action="AddEdit">AddCity</a></button>
    </div>
    <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Search">
        <div class="input-group">
            <input type="text" name="CityName" class="form-control" placeholder="City Name" autocomplete="off">
            <button type="submit" class=" btn btn-success">Search</button>
        </div>
    </form>
    <thead>
        <tr>
            <th scope="col">CityId</th>
            <th scope="col">CityName</th>
            <th scope="col">CityCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["CityID"]</td>
                    <td>@dr["CityName"]</td>
                    <td>@dr["CityCode"]</td>
                    <td>@dr["Created"]</td>
                    <td>@dr["Modified"]</td>
                    <td>
                        <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="AddEdit">
                            <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])" />
                            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to Edit : @dr["CityName"]')">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Delete">
                            <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete : @dr["CityName"]')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
